<%= simple_form_for @restaurant, html: { multipart: true }  do |f| %>
  <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select category") %>
  <p></p>
  <%= f.file_field :restaurant_img %>
  <%= f.input :name, label: "Restaurant Name" %>
  <%= f.input :description %>
   <%= f.button :submit, class: "btn-outline-primary" %>
<% end %>

